CONFIG_ZMK_USB=y
CONFIG_ZMK_KSCAN_MATRIX_POLLING=y
CONFIG_USB_DEVICE_VID=0x3434
CONFIG_USB_DEVICE_PID=0x0831
CONFIG_USB_DEVICE_MANUFACTURER="Keychron"
CONFIG_EC11=y
CONFIG_EC11_TRIGGER_GLOBAL_THREAD=y

CONFIG_RETAINED_MEM=y
CONFIG_RETENTION=y
CONFIG_RETENTION_BOOT_MODE=y
