/dts-v1/;
#include <st/f4/stm32f401Xc.dtsi>
#include <st/f4/stm32f401c(b-c)ux-pinctrl.dtsi>
#include <zephyr/dt-bindings/input/input-event-codes.h>

/ {
    model = "Keychron Q3 Max";
    compatible = "keychron_q3_max";

    chosen {
        zephyr,console = &cdc_acm_uart0;
        zephyr,shell-uart = &cdc_acm_uart0;
        zephyr,sram = &sram0;
        zephyr,flash = &flash0;
        zephyr,boot-mode = &retention0;
    };

    sram@2000ffff {
        compatible = "zephyr,memory-region", "mmio-sram";
        reg = <0x2000ffff 1>;
        zephyr,memory-region = "RetainedMem";
        status = "okay";

        retainedmem0: retainedmem {
            compatible = "zephyr,retained-ram";
            status = "okay";
            #address-cells = <1>;
            #size-cells = <1>;

            retention0: retention@0 {
                compatible = "zephyr,retention";
                status = "okay";
                reg = <0x0 0x1>;
            };
        };
    };

    soc {
        rom_bootloader: rom_bootloader@1fff0000 {
            compatible = "st,stm32-bootloader";
            reg = <0x1fff0000 DT_SIZE_K(29)>;
            status = "okay";
        };
    };
};

zephyr_udc0: &usbotg_fs {
    pinctrl-0 = <&usb_otg_fs_dm_pa11 &usb_otg_fs_dp_pa12>;
    pinctrl-names = "default";
    status = "okay";
};

&clk_lsi {
    status = "okay";
};

&clk_hse {
    clock-frequency = <DT_FREQ_M(16)>;
    status = "okay";
};

&pll {
    div-m = <8>;
    mul-n = <96>;
    div-p = <4>;
    div-q = <4>;
    clocks = <&clk_hse>;
    status = "okay";
};

&rcc {
    clocks = <&pll>;
    clock-frequency = <DT_FREQ_M(48)>;
    ahb-prescaler = <1>;
    apb1-prescaler = <2>;
    apb2-prescaler = <1>;
};

&zephyr_udc0 {
    cdc_acm_uart0: cdc_acm_uart0 {
        compatible = "zephyr,cdc-acm-uart";
    };
};

&sram0 {
    reg = <0x20000000 (DT_SIZE_K(64) - 1)>;
};
